@mixin all-before {
  display: block;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin hover-line {
  &::after {
    content: '';
    width: 0;
    height: 2.5px;
    display: block;
    background: #333;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  &:hover,
  &:focus {
    color: #333;

    &::after {
      width: 100%;
    }

    &.home-link::after {
      width: 50%;
    }
  }
}

@mixin font {
  font-family: 'Libre Caslon Display', serif;
}