@import '../GlobalWrapper/styles.scss';

.container-decorator {
    &__info {
        position: sticky;
        top: 0;

    }

    &__children {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

    }

    &__title {
        color: white;
        @include responsiveFontSize(4);
    }

    &__cta[class]:not(:empty) {
        padding: .75rem 1rem;
        background: white;
        color: black;
        border-radius: .5rem;
        display: inline-block;
        margin: 1rem 0;
    }
}