@import '../GlobalWrapper/styles.scss';

.container-decorator {
    &__info {
        position: sticky;
        top: 0;

    }

    &__children {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

    }

    &__title {
        color: white;
        @include responsiveFontSize(4);
    }
}