.fade-text {
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10vw;
  transform-style: preserve-3d;
  perspective: 200px;
  letter-spacing: 3px;
  line-height: 2;
  height: 90vh;
  display: grid;
  place-content: center;
  animation: 5s fade-out forwards;
  -webkit-animation: 5s fade-out forwards;
  animation-delay: 20s;

  @media (min-width: 1080px) {
    width: 50vw;
  }
}

.fade-word {
  color: #fff8;
  display: inline-block;
  opacity: 0;
  text-shadow: 0 0 10px #fff;
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  to {
    color: #fff1;
    opacity: 1;
    text-shadow: 0 0 2.5px #fff;
  }
}

@keyframes fade-out {
  to {
    transform: skew(5deg, 5deg);
    -webkit-transform: skew(5deg, 5deg);
    -moz-transform: skew(5deg, 5deg);
    -ms-transform: skew(5deg, 5deg);
    -o-transform: skew(5deg, 5deg);
    opacity: 0;
  }
}