.fade-away {
  animation: fadeAway 0.35s forwards !important;
  -webkit-animation: fadeAway 0.35s forwards !important;
}

.loader {
  z-index: 3;
  @include font;
  text-align: center;
  cursor: pointer;
  background: $main-bg-color;
  h1 {
    user-select: none;
    font-size: 20px;
  }
  p {
    text-align: center;
    width: 125px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding: 12px 0;
  }
}

.loader,
.grand-rotor {
  position: fixed;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
}

.rotor {
  display: inline-block;
  padding: 5px;
  border: 1px solid $font-color;
  border-radius: 50%;
  border-color: $font-color transparent transparent transparent;
  animation: runCarrousel 45s linear infinite;
  -webkit-animation: runCarrousel 45s linear infinite;
}

@keyframes runCarrousel {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes fadeAway {
  to {
    opacity: 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}