.poems {
  max-width: 980px;
  margin: auto;

  @media (min-width: 1080px) {
    padding: 0 25px;
  }
}

.poems>div {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: 320px 1fr;
  }
}

.search-item {
  position: sticky;
  top: 0;
  background: #fffe;
  z-index: 1;
}

.poem-hide {
  display: none !important;
}

.poems-list,
.current-poem {
  background: #fffe;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-poem {
  margin: 25px;
  width: 85%;
  border: 0;
  padding: 10px;
  box-shadow: 0 0 100px -10px #000;
}

.poems .poem-title {
  padding: 0 25px;
  text-align: left;
}

.poems .poem {
  padding: 25px;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  min-height: 100vh;
}

.current-poem {
  @media (max-width: 639px) {
    display: none;
    grid-row: 1;
    height: 20vh;
    background: #f7f7f7ee;
    margin: 0 auto;

    p {
      display: none;
    }
  }

  @include all-before;
  box-shadow: inset 0 0 100px -50px #000;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  position: sticky;
  top: 57px;
  color: $font-color;
  width: 100%;
  margin-left: auto;

  &:hover,
  &:focus {
    &::after {
      color: $link-color;
    }
  }

  &::after {
    content: 'Expandir poema';
    position: sticky;
    bottom: 0;
    display: block;
    text-align: center;
    background: #fffe;
    padding: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    @include font;
  }
}

.poem-title {
  &::after {
    content: '';
    width: 0;
    height: 2.5px;
    display: block;
    background: $font-color;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
}

.poem-item {
  outline: none;
  border: 0;
  display: block;
  padding: 25px 0 25px 25px;
  background: transparent;
  width: 100%;
  display: block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: inset 0 0 $font-color;
  @include all-before;
  &:hover, &:focus {
    color: $main-bg-color;
    box-shadow: inset -320px 0 $font-color;
  }

  &:hover b,
  &:focus b {
    color: $link-color;
  }
}

.poem-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  @include font;

  b {
    text-align: left;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
  }

  i {
    font-style: italic;

    &::before,
    &::after {
      content: '';
    }
  }
}