.poems-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background: #fffe;
}

.next-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.arrow {
  cursor: pointer;
  background: transparent;
  position: relative;
  border: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  outline: none;
  width: 100%;
}

.next-arrow:hover {
  transform: rotate(180deg) scale(1.1);
  -webkit-transform: rotate(180deg) scale(1.1);
  -moz-transform: rotate(180deg) scale(1.1);
  -ms-transform: rotate(180deg) scale(1.1);
  -o-transform: rotate(180deg) scale(1.1);
}

.previous-arrow:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.arrow img {
  height: 65px;
  width: 100px;
  object-fit: cover;
}

.counter {
  @include font;
}