.spanified {
  display: inline-block;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.spanified:hover {
  color: #fff;
  text-decoration: underline;
}