@mixin highlight($color) {
    color: $color;

    svg {    
        .st0[class] {
            stroke: $color;
        }
    }
}

.select-emotion {
	&__filter-button {
        background: transparent;
        border: 0;
        color: white;
        height: 3rem;
        cursor: pointer;

        svg {
            width: 2rem;

            .st0[class] {
                stroke: #fff;
            }
        }

        &:hover {
            @media (min-width: 1024px) {
                @include highlight(#9881ff);
            }
        }

        .selected {
            @include highlight(#9881ff);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}