.highlight {
    &--parent {
        padding: 0 2.5rem 2.5rem 0;
        border: solid;
        display: inline-block;
        border-width: 0 2px 2px 0;
        box-shadow: .25rem .25rem white;
        transition: 0.35s;

        &:hover {
            box-shadow: .5rem .5rem white;
        }
    }
}

.wrapper {
    &--padding[class] {
        @include responsivePadding;
    }

    &--color-white[class] {
        color: white;
    }

    &--front[class] {
        z-index: 1;
    }

    &--grid[class] {
        display: grid;
        grid-gap: 10rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    &--opacity-hover[class] {
        @media (min-width: 1024px + 1) {
            opacity: .5;
        }

        &:hover {
            opacity: 1;
        }
    }

    &--big-font[class] {
        font-size: 1.5rem;
    }

    &--capitalize[class] {
        text-transform: capitalize;
    }

    &--cta[class] {
        color: white;
        text-decoration: none;

        @include responsiveFontSize(1.5);

        &:hover {
            text-decoration: underline;
        }
    }

    &--aside {
        text-align: right;
    }

    &--block {
        display: block;
    }

    &--search {
        background: transparent;
        border: solid white;
        border-width: 0 0 3px 0;
        padding: 1rem 0;
        color: white;
        outline: none;
        width: clamp(5rem, 50vw, 30rem);
        display: block;

        @media (min-width: 1024px + 1) {
            opacity: .75;
        }

        &:focus {
            opacity: 1;
        }
    }
}